.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.dialogsItems {
    padding: 10px;
    color: white;
    background-color: aliceblue;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    background-color: aquamarine;
    
}

.messages .message {
    color: white;
    
}

